meta(charset="utf-8")
meta(name="X-UA-Compatible", content="IE=edge")

title
    block site_title
        = config.title
block description
    meta(name="description", content=config.description)

meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="canonical", href=url)
link(rel="short icon", href=url_for(theme.favicon))
link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro", rel="stylesheet")
link(rel="stylesheet", href=url_for("css/style.css"))

meta(property="og:url", content=url)
meta(property="og:type", content="website")
block og_title
  meta(property="og:title", content=config.title)
block og_description
  meta(property="og:description", config.description)
meta(property="og:image", content=url_for(theme.favicon))

- var xml = url_for('atom.xml')
    link(rel="search", type="application/opensearchdescription+xml", href=xml, title=config.title)

